/* Sections themeable Settings ----------------------------------------- */




section[theme-heading] toptitle{--text-theme :var(--secondary); }
section[theme-heading] title{--text-theme:var(--primary); }
/*section[theme-heading] time{--block-theme:var(--primary); }*/


/* Theme Dark-mode ----------------------------------------- */
section[darkmode] {
    --primary: var(--primary);
    --secondary: var(--secondary);
    --bg-body: hsl(203, 36%, 12%);
    --text-body: #ecf0f1;
    --block-theme: hsl(203, 36%, 14%);
    --text-muted: #bdc3c7;
    --border-color: #4a627a;
}
// section[theme] toptitle{--text-theme :var(--secondary); }
// section[theme] title{--text-theme:var(--primary); }
// section[theme] time{--bg-theme:var(--primary); }
// section[theme] hr{--border-color:var(--primary); }

// section[theme-invert] toptitle{--text-theme :var(--primary); }
// section[theme-invert] title{--text-theme:var(--secondary); }
// section[theme-invert] time{--bg-theme:var(--secondary); }
// section[theme-invert] hr{--border-color:var(--secondary); }


section[theme] {
	--border-color:var(--primary);
	--text-theme:var(--secondary);
	--bg-theme:var(--primary);
}

section[theme-invert] {
	--border-color:var(--secondary);
	--text-theme:var(--primary);
	--bg-theme:var(--secondary);

}
