/* Sections themeable Settings ----------------------------------------- */




section[theme-heading] toptitle{--text-theme :var(--secondary); }
section[theme-heading] title{--text-theme:var(--primary); }
/*section[theme-heading] time{--block-theme:var(--primary); }*/


/* Theme Dark-mode ----------------------------------------- */
section[darkmode] {
    // --primary: var(--primary);
    // --secondary: var(--secondary);
    --text-body: #ecf0f1;
    --text-muted: #bdc3c7;
    --bg-body: var(--renova);
    --block-theme: hsl(203, 36%, 14%);
    --default-colored: #4a627a;
    // --default-colored: #4a627a;
}
// section[theme] toptitle{--text-theme :var(--secondary); }
// section[theme] title{--text-theme:var(--primary); }
// section[theme] time{--bg-theme:var(--primary); }
// section[theme] hr{--default-colored:var(--primary); }

// section[theme-invert] toptitle{--text-theme :var(--primary); }
// section[theme-invert] title{--text-theme:var(--secondary); }
// section[theme-invert] time{--bg-theme:var(--secondary); }
// section[theme-invert] hr{--default-colored:var(--secondary); }


section[theme] {
	// --default-colored:var(--primary);
	--default-colored:var(--primary);
	--text-theme:var(--secondary);
	--bg-theme:var(--primary);
}

section[theme-invert] {
	--default-colored:var(--secondary);
	// --default-colored:var(--secondary);
	--text-theme:var(--primary);
	--bg-theme:var(--secondary);

}
