# ignore folder

# Dependencies
node_modules/

*.sublime-project
*.sublime-workspace


# Build artifacts
*.log


# Sass cache
.sass-cache/

# Source maps (optional - uncomment if you don't want to commit them)
# *.map
