// =============================================================================
// CONTENT COMPONENTS
// =============================================================================

@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;

// Media Elements
// =============================================================================
// img, video {max-width: 100%; height: auto; }
img, video {@include mixins.set-img-16-9; }

// Horizontal Rule
// =============================================================================
hr {
    border: none;
    height: 1px;
    display: block;
    border-radius: 2px;
    background: var(--border-color);

    margin-top: var(--spacing-s);
    margin-bottom: var(--spacing-s);
    margin-left: 0;
    margin-right: auto;

    width: var(--hr-width, 100%);
}

hr[vertical] {
    width: 1px;
    height: var(--hr-width, 44%);
    // background-color: var(--border-color, #363636);
    padding:0;
    margin: auto 0;
}

hr[widest]   {--hr-width: 78%; }
hr[wider] {--hr-width: 44%; }
hr[wide] {--hr-width: 13%; }

hr[left] {margin-left: 0; margin-right: auto; }
hr[right] {margin-left: auto; margin-right: 0;}
hr[center] {margin-left: auto; margin-right: auto;}

hr[bold]{height: 2px; }
hr[bolder]{height: 4px; }
hr[boldest]{height: 7px; }


// Details & Summary
// =============================================================================
details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--bg-body-300);
  padding: 10px 10px 0;
  margin: 1em 0;
  border-radius: vars.$border-radius-base;
  overflow: hidden;
  
  &[open] {padding: 10px; summary {margin-bottom: 10px; } }
  
  > :last-child {margin-bottom: 0; }
  
  > :not(summary) {margin-top: 0; }
}

summary {
  display: list-item;
  background-color: var(--bg-body, vars.$bg-body);
  padding: 10px;
  margin: -10px -10px 0;
  cursor: pointer;
  outline: none;
  
  &:hover, &:focus {text-decoration: underline; }
  
  &::-webkit-details-marker {color: var(--text-body); }
}

// Dialog Element
// =============================================================================
dialog {
  background-color: var(--block-theme);
  color: var(--text-body);
  border: none;
  border-radius: vars.$border-radius-base;
  border-color: var(--border-color);
  padding: 10px 30px;
  
  > header:first-child {
    background-color: var(--bg-body, vars.$bg-body);
    border-radius: vars.$border-radius-base vars.$border-radius-base 0 0;
    margin: -10px -30px 10px;
    padding: 10px;
    text-align: center;
  }
  
  &::-webkit-backdrop {background: #0000009c; -webkit-backdrop-filter: blur(4px); backdrop-filter: blur(4px); }
  
  &::backdrop {background: #0000009c; -webkit-backdrop-filter: blur(4px); backdrop-filter: blur(4px); }
}
