// =============================================================================
// TABLES
// =============================================================================

@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;

// Table Base
// =============================================================================
table {
  border-collapse: collapse;
  margin-bottom: var(--spacing-s);
  width: 100%;
  table-layout: fixed;
  
  caption {
    text-align: left;
  }
}

// Table Cells
// =============================================================================
td, th {
  padding: 6px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

// Table Sections
// =============================================================================
thead {
  @include mixins.border-accent;
  border-bottom: 1px solid var(--default-colored);
}

tfoot {
  @include mixins.border-accent;
  border-top: 1px solid var(--default-colored);
}

// Table Row Styling
// =============================================================================
tbody tr:nth-child(even) {
  background-color: var(--bg-body, vars.$bg-body);
  
  button {
    background-color: var(--bg-body-300);
    
    &:hover {
      background-color: var(--bg-body, vars.$bg-body);
    }
  }
}
