@use '../abstracts/variables'as vars;
// =============================================================================
// LAYOUT Card KEBENET© 
// =============================================================================

.card, block,
.card> content,
.card> footer {display: grid; }

.card {

    background-color: var(--block-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;

}


div[ratio-1]>.card>img   {aspect-ratio: 1/1; }

.card>content { padding: var(--padding-base); }

[radius] {
    overflow: hidden;
    border-radius: var(--border-radius-base) var(--border-radius-base) 0 0;
}

// Card automatic Color | border

article[border] {border: medium solid var(--primary-20)!important; }

article[primary]>header {background-color: var(--primary)!important; }

article[primary] {border-color: var(--primary)!important; }

article[secondary]>header {background-color: var(--secondary)!important; }

article[secondary] {border-color: var(--secondary)!important; }

article>footer {padding: var(--padding-base); justify-items: start;align-items: end; }
