@use '../abstracts/variables'as vars;
// =============================================================================
// LAYOUT article as Card KEBENET© 
// =============================================================================

article, 
article> content,
article> footer, block {display: grid; }

article {
    background-color: var(--block-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
}


div[ratio-1]>article>img {aspect-ratio: 1/1; }

img[ratio-1-1]{aspect-ratio: 1/1;}
img[ratio-16-9]{aspect-ratio: 16/9;}
img[full]{width:100%; height:100%;}

article>content { padding: var(--spacing-s); }


section[radius-full] article{border-radius:var(--border-radius-base); overflow:hidden;}
section[radius] article{
    overflow: hidden;
    border-radius: var(--border-radius-base) var(--border-radius-base) 0 0;
}

// Card automatic Color | border

article[border] {border: medium solid var(--primary-20)!important; }

article[primary]>header {background-color: var(--primary)!important; }

article[primary] {border-color: var(--primary)!important; }

article[secondary]>header {background-color: var(--secondary)!important; }

article[secondary] {border-color: var(--secondary)!important; }

article>footer {padding: var(--spacing-s); justify-items: start;align-items: end; }


