@use '../abstracts/variables'as vars;
@use '../abstracts/mixins' as mixins;

// Column calc for Grid template-column minmax px
// ----------------------------------------------
$column-2: calc(var(--max-width)/2);
$column-3: calc(var(--max-width)/3);

@mixin set-inline {display: grid; grid-template-columns: auto auto; justify-content: space-between; align-items: center; }

// =============================================================================
// LAYOUT Grid
// =============================================================================

// Grid Alignism part

[align-v="start"] {align-items: start; }
[align-v="center"] {align-items: center; }
[align-v="end"] {align-items: end; }

[align="start"]   {justify-items: start; }
[align="center"]  {justify-items: center; }
[align="end"]     {justify-items: end; }

[space="around" ] {justify-content: space-around; }
[space="between"] {justify-content: space-between; }
[space="evently"] {justify-content: space-evenly; }

[space-v="around" ] {align-content: space-around; }
[space-v="between"] {align-content: space-between; }
[space-v="evently"] {align-content: space-evenly; }

// heading and icon box on right
[inline] { @include set-inline; }

// New Grid row

grid{display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }

grid[one],grid[two],grid[three]{ grid-template-columns: 1fr; }


// inline GRID Only for [toolbox]
grid[auto]{ grid-template-columns: auto; }
grid[auto-two]{ grid-template-columns: auto auto; }
grid[auto-three]{ grid-template-columns: auto auto auto; }


// Grid auto cards style
// ---------------------

grid[border] > card{border: medium solid vars.$primary-20; }
grid[round] > card{ @include mixins.set-border-radius; }

grid[primary] > card  {border-color: vars.$primary; }

grid[primary]> card > header {background-color: vars.$primary; }
grid[secondary] > card > header {background-color: vars.$secondary; }


/* Base (xs) columns */
/* Small devices (sm) and up (>= 576px) */

@media (min-width: 48em) {
  grid[two]{ grid-template-columns: 1fr 1fr; }
  grid[three]{ grid-template-columns: 1fr 1fr 1fr; }
}

/* Medium devices (md) and up (>= 768px) */

@media (min-width: 64em) {


}

/* Large devices (lg) and up (>= 992px) */
@media (min-width: 75em) {

}

