// =============================================================================
// LAYOUT MODIFIERS
// =============================================================================

// Background Colors
.bg-light { background-color: $background-body-light; }
.bg-light-light { background-color: $background-alt-light; }
.bg-dark { background-color: $background-body-dark; }
.bg-dark-dark { background-color: $background-dark; }

.bg-primary { background-color: $primary; }
.bg-primary-light { background-color: $primary-2; }
.bg-primary-light-light { background-color: $primary-08; }

.bg-secondary { background-color: $secondary; }
.bg-secondary-light { background-color: $secondary-2; }
.bg-secondary-light-light { background-color: $secondary-08; }

// Text Colors
.color-primary { color: $primary; }
.color-secondary { color: $secondary; }
.color-dark { color: $text-main-dark; }
.color-light { color: $text-bright-light; }

