@use '../abstracts/variables'as vars;



// =============================================================================
// LAYOUT Section
// =============================================================================

// Section Layout Bricks style

section,main { max-width: var(--max-width); }
section {margin-top: vars.$margin-xl; }
section:last-child {margin-bottom: vars.$margin-xl; }

main, container, .container {width: 100%; }
main, container, .container {align-items: center; margin-left: auto; margin-right: auto; }

section, container, .container, article, grid {max-width: 100%; }

// =============================================================================
// LAYOUT Block - grid inline Center, Center
// =============================================================================

block{align-content: center; justify-items: center; }

// Footer
// =============================================================================
footer {border-top: 1px solid var(--divider-color); }
body > footer {margin-top: var(--margin-VA); }
footer, footer>p, footer>h5, footer>h6{color: var(--text-muted);}
