@use '../abstracts/variables'as vars;


// =============================================================================
// LAYOUT Section
// =============================================================================

// Section Layout Bricks style

section { max-width: var(--max-width); }

container, .container {width: 100%; }

section,
container,
.container,
card, grid {max-width: 100%; }


section {margin-top: vars.$margin-VA; }
section:last-child {margin-bottom: vars.$margin-VA; }

container,
.container {
    display: grid;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}




// =============================================================================
// LAYOUT Block - grid inline
// =============================================================================

block{
  align-content: center;
  justify-items: center;
  // height: 500px;
}