@use '../abstracts/variables'as vars;


@mixin clamp-gap{ grid-gap: clamp(0.5em, 2vw + 0.1em, 3em);}
@mixin clamp-padding{ padding: clamp(0.5em, 2vw + 0.1em, 3em);}
@mixin padding-topbottomleft{ padding-top:vars.$padding-base; padding-bottom:vars.$padding-base; padding-right: vars.$padding-base;}


// Padding gap - grid
[pad]{ padding:vars.$padding-base; }
[pad-m]{ padding:vars.$padding-m; }
[pad-l]{ padding:vars.$padding-l; }
[pad-tbr]{ @include padding-topbottomleft; }


$fluid-padding-05: clamp(0.5em, 2vw + 0.1em, 3em);
$fluid-padding-01: clamp(0.1em, 2vw + 0.1em, 3em);


section[gap]> grid {@include clamp-gap; }
section[pad]> grid {@include clamp-padding; }

section>header{padding-bottom: vars.$padding-base;}






.pad-clamp,
[pad-clamp] {padding-left: $fluid-padding-01; padding-right:$fluid-padding-01; }
