@use '../abstracts/mixins'as mixin;

/*
 * ===================================================================
 * NEW: PSEUDO-CSS DESIGN Stack Design
 * We now style the children based on their order inside the container,
 * which simplifies the HTML markup.
 * ===================================================================
*/

@mixin set-stack-grid{
  display: grid;
  grid-template-columns: min-content 1fr; /* Sidebar fits content, right auto-fills */
  grid-template-rows: 1fr min-content;
}


stack-grid {@include set-stack-grid; background-color: white; }
stack-side {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  padding:16px;
  font-weight: bolder;
}

grid[primary] > stack-grid > stack-side{background-color: var(--secondary);}
grid[secondary] > stack-grid > stack-side{background-color: var(--primary);}

stack-grid[primary] > stack-side{background-color: var(--secondary);}
stack-grid[secondary] > stack-side{background-color: var(--primary);}

stack-grid[primary] > card>header{background-color: var(--primary);}
stack-grid[secondary] > card>header{background-color: var(--secondary);}


// stack-grid > stack-main > img { @include mixin.set-img-16-9;}
